@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/Home.css" />
</head>

<div class="quote-container">
    <blockquote class="quote"><b>
        "Too much rest is rust." Sir Walter Scott
        </b></blockquote>
</div>

<div class="login-message">
    <p>Please Log In To Access The System!</p>
</div>