@model VacationManager.Models.VacationDaysModel

@{
    ViewData["Title"] = "Create";
}

<h1>Add User's Paid Vacation days</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label">User</label>
                <select asp-for="UserId" class="form-control">
                    <option value="">-- Select User --</option>
                    @foreach (var userOption in ViewBag.UserOptions)
                    {
                        <option value="@userOption.Value">@userOption.Text</option>
                    }
                </select>
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                @Html.DropDownList("Year", ViewBag.SelectableYears as IEnumerable<SelectListItem>, "-- Select Year --", new { @class = "form-control" })
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VacationDays" class="control-label">Vacation Days</label>
                <input asp-for="VacationDays" class="form-control" />
                <span asp-validation-for="VacationDays" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="UsedDays" class="control-label"></label>
                <input asp-for="UsedDays" class="form-control" />
                <span asp-validation-for="UsedDays" class="text-danger"></span>
            </div>
            <div class="form-group" style="display: none;">
                <label asp-for="PendingDays" class="control-label"></label>
                <input asp-for="PendingDays" class="form-control" />
                <span asp-validation-for="PendingDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
